@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=PT+Sans:wght@400;700&display=swap');

header{
  padding: 35px 0;
  background-color: #333;
}
nav{
  margin-top: 10px;

}
nav ul{
display: flex;
margin: 0;
padding: 0;
}
nav ul li{
  list-style: none;
  background-color: #f90;
  height: 40px;
  width: 165px;
}
nav ul li:hover{
  background-color: #333;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans (Semibold)',sans-serif;
  font-size: 22px;
  line-height: 40px;
  display: block;
  text-align: center;
}
nav ul li a:hover{
    color: #fff;
}
.intro-section{
  padding: 90px 0 70px 0;
}
.intro-section h2{
  padding: 40px 0;
  font-family: 'Open Sans (Semibold)',sans-serif;
  font-size: 38px;
}
.intro-section p{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  font-weight: 300;
}
.items h3{
  height: 50px;
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  color: #fff;
  background-color: #333;
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
}
.items p{
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  font-weight: 300;
}
.items a{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #f90;
  text-decoration: underline;
}
.items a:hover{
  text-decoration: none;
}
.kontakt h3{
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  color: #333;
  font-weight: 600;
  display: block;
  text-align: center;

}
.form-label {
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
}
textarea.form-control {
    height: 180px;
}
.form-control{
  margin-bottom: 30px;
}
.kontakt img{
  margin-top: 150px;
}
.kontakt{
  margin-bottom: 120px;
}
.btn-primary {
    color: #fff;
    background-color: #f90;
    height: 50px;
    font-size: 22px;
    font-family: 'Open Sans (Semibold)',sans-serif;
    border: none;
  }
.btn-primary:hover{
    background-color: #f80;
}
footer{
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}
.items article{
  padding-bottom: 20px;
}
